@tailwind base;
@tailwind components;
@tailwind utilities;

/* cursor start */
.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #73ABAD;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #519975;
  content: "visitor@fkcodes.com:~$";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* cursor end */

* {
  font-family: 'Hack', monospace;
}
html,
body > div:first-child,
body,
div#__next,
div#__next > div {
  height: 100%;
  overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}

.app {
  background: url("/assets/img/banner-bg.png") no-repeat;
  background-size: cover;
}

.command {
  color: #73ABAD;
  text-shadow: 0 0 3px #73ABAD; 
}

.link {
  color: #80ad73;
  text-shadow: 0 0 3px #80ad73; 
  text-decoration: none;
}

.link:hover {
  color: #49c427;
  text-shadow: 0 0 3px #49c427; 
}

.project-terminal {
  background-color: #373e4d;
  border-radius: 8px;
  padding: 8px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #73ABAD;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2edce2;
}

 
  /************ Navbar Css ************/

  .custom-navbar {
    padding: 25px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
  }
  
  .custom-navbar.scrolled {
    padding: 25px 0;
    background-color: #121212;
  }
  
  

  /************ Banner Css ************/
  .banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
  }
  
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
   

  /************ Skills Css ************/

  .skill-bx {
    border-radius: 64px;
    text-align: center;
  }

  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  
  /************ Projects Css ************/

  
  /************ Contact Css ************/
  .contact {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 60px 0 40px 0;
  }
  