@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}
/* cursor start */
.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #73ABAD;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #519975;
  content: "visitor@fkcodes.com:~$";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* cursor end */

* {
  font-family: 'Hack', monospace;
}

body {
  background: url('../../public/bg.svg') no-repeat;
  background-size: cover;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

.command {
  color: #73ABAD;
  text-shadow: 0 0 3px #73ABAD; 
}

.link {
  color: #80ad73;
  text-shadow: 0 0 3px #80ad73; 
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
  /* change to 0px if folded */
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #73ABAD;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2edce2;
}
